/*--- First section ---*/
.first-section {
  text-align: center;
  padding-top: 35vh;
  width: 100vw;
  height: 100vh;

  .title {
    @include fluid-type($min_width, $max_width, 35px, 56px);

    @for $i from 1 through 3 {
      .word-#{$i} {
        opacity: 0;
      }
    }
  }

  .description {
    @include fluid-type($min_width, $max_width, 16px, 22px);
    padding-top: 10px;
  }

  .hero-image {
    max-width: 100%;
    height: auto;
    padding-top: 15px;
    opacity: 0;
  }

  .image-caption {
    /*opacity: 0;*/
    padding-top: 10px;
  }
}
