.loader {
  background: $primary-color;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .container {
    position: relative;
    width: 260px;

    @for $i from 1 through 4 {
      .circle-#{$i} {
        position: absolute;
        left: ($i - 1) * 70 + px;
        border-radius: 100%;

        &.gray-circle {
          left: ($i - 1) * 70 + px;
          background: $secondary-color;
          width: 50px;
          height: 50px;
        }

        &.white-circle {
          left: ($i - 1) * 70 - 1 + px;
          top: -1px;
          background: $primary-color;
          width: 52px;
          height: 52px;
        }
      }
    }
  }
}
